<h1>Add a new entry here!</h1>

{{this.confirm_text}}

<form id="insertForm" action='/add_entry' method="POST">

    <input type="hidden" name="userID" value=1 id="userID">

    <label for="title">Title:</label>
    <input type="text" name="title" placeholder="Entry Title" id="title" required="required">
    
    <br>
    <label for="DOE">Date of Entry:</label>
    <input type="date" name="DOE" placeholder="yyyy-mm-dd" id="DOE" required="required">

    <br>
    <label for="timeOfDay">Time of Entry:</label>
    <input type="time" name="timeOfDay" id="timeOfDay" required="required">

    <br>
    <label for="locationID">Location:</label>
    <select name="locationID" id="locationID">
        <option value="">--Please choose an option--</option>
        {{#each locationList}}
            <option value={{this.locationID}}>{{this.name}}</option>
        {{/each}}
    </select>

    <br>
    <label for="categoryID">Category:</label>
    <select name="categoryID" id="categoryID">
        <option value="">--Please choose an option--</option>
        {{#each categoryList}}
            <option value={{this.categoryID}}>{{this.categoryName}}</option>
        {{/each}}
    </select>

    <br>
    <label for="comments">Comments:</label>
    <br>
    <textarea name="comments" id="comments" cols="30" rows="10" placeholder="Enter comments here"></textarea>

    <br>
    <label for="review">Review:</label>
    <br>
    <textarea name="review" id="review" cols="30" rows="10" placeholder="Enter a review here"></textarea>

    <br>
    <label for="groupSize">Group Size:</label>
    <input type="number" name="groupSize" id="groupSize">
    
    <br>
    <input type="submit" value="Add Entry" id="add_entry_button">
</form>

<form action="/add_location">
    <button>Add Location</button>
</form>

<form action="/edit_location">
    <button>Edit Location</button>
</form>

<form action="/add_category">
    <button>Add Category</button>
</form>

<form action="/edit_category">
    <button>Edit Category</button>
</form>

<form action="/">
    <button>Cancel</button>
</form>
{{!-- <button id="btn_click">Cancel</button> --}}