<div class='container'>

    <form action="/add_country/">
        <button class='btn btn-primary btn-md'>Add Country</button>
    </form>

    {{this.confirm_text}}

    <table class='table'>
        <tr>
            <th>Country Name</th>
        </tr>
        {{#each countryList}}
        <tr>
            <td id='country + {{this.countryID}}'>{{this.countryName}}</td>
            <td><form action="/edit_country" method="GET"><input type="hidden" name="countryID" value={{this.countryID}} id="countryID"}><button class="btn btn-primary" style="float:left;">Edit</button></form></td>
            <td><form action="/country" method="POST"><input type="hidden" name="countryID" value={{this.countryID}} id="countryID"}><button class="btn btn-link" style="float:left;">Delete</button></form></td>
        </tr>
        {{/each}}
    </table>
</div>
