<div id='form-container' class='container'>
    <h3 style="display:flex;">Edit an entry here!</h3>

    <h4>{{this.confirm_text}}</h4>
    <form id="insertForm" action='/edit_entry' method="POST">
        <input type="hidden" name="entryID" value={{entry.entryID}} id="entryID"}>
        <input type="hidden" name="userID" value=1 id="userID">

        <div class='form-row'>

            <div class='form-group col'>
                <label for="title">Title</label>
                <input class='form-control' type="text" name="title" placeholder="Entry Title" value={{entry.title}} id="title"
                    required="required">
            </div>
            <br>

            <div class='form-group col'>
                <label for="DOE">Date of Entry</label>
                <input class='form-control' type="date" name="DOE" placeholder="yyyy-mm-dd" value={{entry.custom_date}} id="DOE"
                    required="required">
            </div>
            <br>

            <div class='form-group col'>
                <label for="timeOfDay">Time of Entry</label>
                <input class='form-control' type="time" name="timeOfDay" id="timeOfDay" value={{entry.timeOfDay}} required="required">
            </div>
            <br>
        </div>
        <div class='form-row'>
            <div class='form-group col'>
                <label for="locationID">Location</label>
                <select class='form-control' name="locationID" id="locationID">
                    <option value="">--Please choose an option--</option>
                    {{#each locationList}}
                        {{#ifCond this.locationID entry.locationID}}
                            <option value={{this.locationID}} selected>{{this.name}}</option>
                        {{else}}
                            <option value={{this.locationID}}>{{this.name}}</option>
                        {{/ifCond}}
                    {{/each}}
                </select>
            </div>
            <br>
            <div class='form-group col'>
                <label for="categoryID">Category</label>
                <select class='form-control' name="categoryID" id="categoryID">
                    <option value="">--Please choose an option--</option>
                    {{#each categoryList}}
                        {{#ifCond this.categoryID entry.categoryID}}
                            <option value={{this.categoryID}} selected>{{this.categoryName}}</option>
                        {{else}}
                            <option value={{this.categoryID}}>{{this.categoryName}}</option>
                        {{/ifCond}}
                    {{/each}}
                </select>
            </div>
            <div class='form-group'>
                <label for="groupSize">Group Size</label>
                <input class='form-control' type="number" name="groupSize" id="groupSize" value={{entry.groupSize}}>
            </div>
            <br>
        </div>
        <div class='form-row'>
            <div class='form-group col'>
                <label for="comments">Comments</label>
                <br>
                <textarea class='form-control' name="comments" id="comments" cols="30" rows="10"
                    placeholder="Enter comments here" value={{entry.comments}}></textarea>
            </div>
            <br>
            <div class='form-group col'>
                <label for="review">Review</label>
                <br>
                <textarea class='form-control' name="review" id="review" cols="30" rows="10"
                    placeholder="Enter a review here" value={{entry.review}}></textarea>
            </div>
            <br>
        </div>
        <input class=' btn btn-primary' type="submit" value="Edit Entry" id="edit_entry_button" style="float:left;">
    </form>
    <form action="/">
        <input class=' btn btn-link' type="submit" value="Cancel" id="cancel_button" style="float:left;">
    </form>
</div>