<h1>Welcome to Mike's Travel Blog!</h1>

<p>
    {{#each entryList}}
        <div>{{this.title}}</div>
        <div>{{this.DOE}}</div>
        <div>{{this.timeOfDay}}</div>
        <div>{{this.name}}</div>
        <div>{{this.categoryName}}</div>
        <div>{{this.groupSize}}</div>
        <div>{{this.comments}}</div>
        <div>{{this.review}}</div>

        <form action="/edit_entry">
            <input type="hidden" name="entryID" value={{this.entryID}} id="entryID">
            <button>Edit Entry</button>
        </form>

        <form action="/delete_entry">
            <input type="hidden" name="entryID" value={{this.entryID}} id="entryID">
            <button>Delete Entry</button>
        </form>
    {{/each}}
</p>

<form action="/add_entry/">
    <button>Add Entry</button>
</form>