<br>
<form action="/add_entry/">
    <button class='btn-primary btn-lg'>Add Entry</button>
</form>
<br>
<div class="container-fluid">
    <div class ='row'>
        {{#each entryList}}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Date of Entry: {{this.DOE}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Time of Day: {{this.timeOfDay}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Location Name: {{this.name}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Category: {{this.categoryName}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Group Size: {{this.groupSize}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Comments: {{this.comments}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Comments: {{this.review}}</h6>

                <form action="/edit_entry">
                    <input type="hidden" name="entryID" value={{this.entryID}} id="entryID">
                    <button class="btn btn-primary" style="float:left;">Edit Entry</button>
                </form>

                <form action="/home" method="POST">
                    <input type="hidden" name="entryID" value={{this.entryID}} id="entryID">
                    <button class="btn btn-link" style="float:left;">Delete Entry</button>
                </form>
            </div>
        </div>
        {{/each}}
        
    </div>
</div>

